{{define "title"}}A templated page{{end}}

{{define "body"}}
<div class="container">
    <h1>Pictionary</h1>
    <p>Jugar al Pictionary es muy sencillo: uno de los participantes presiona "siguiente palabra" y debe inmediatamente
        de dibujar la palabra que aparece dentro del tiempo determinado. Todos los demás miembros del equipo (o
        participantes) tendrán que
        adivinar la palabra dibujada. Por supuesto, los jugadores de cada equipo tendrán que dibujar cuando les toque el
        turno.<br><br>Lo cierto es que es un
        juego muy divertido con el que pasar la tarde.</p>
    <p><a href="/">Regresar al inicio</a></p>
</div>
{{end}}